@import "normalize.css";
@import "vars";
@import "mixins";
@import "fonts";
@import "blocks/general-style";
@import "elements/buttons";
@import "blocks/main";
@import "blocks/footer";
@import "media";