main.main
  .section-main
    .container
      .main-body
        .main-photo
          img(src="./assets/img/photo.png", alt="")
        .main-right
          .main-text
            .main-text__title Привет, я Алина 
            .main-text__subtitle творческий веб-дизайнер. создаю эстетичный и удобный дизайн
          .main-link
            a(href="#").main-link__item behance
      //- .main-sub__title Мои цели в дизайне:
      .main-sub__title(title="Мои цели в дизайне:")
      ul.main-sub-list
        li.main-sub-list__item выделить среди конкурентов, <br> показать уникальность
        li.main-sub-list__item решать боли и потребности <br> целевой аудитории 
        li.main-sub-list__item создать дизайн, который, <br> притягивает внимание
      .main-project
        .main-project-text
          .main-project__title-wrap 
            .main-project__title(title="Создадим проект вместе?")
          .main-project-socials
            a(href="#").main-project-socials__link Телеграм
            a(href="#").main-project-socials__link WhatsApp
        .main-project-arrow
          .main-project-arrow__item
          .main-project-arrow__left.main-project-arrow__text
            span(title="Заглядывай ко мне на Behance")
          .main-project-arrow__left.main-project-arrow__btn
            span заглянуть
      .main-socials
        a(href="#").main-socials__item
          img(src="./assets/img/behance.svg", alt="behance alina")
        a(href="#").main-socials__item
          img(src="./assets/img/vk.svg", alt="behance alina")
        a(href="#").main-socials__item
          img(src="./assets/img/instagram.svg", alt="behance alina")